<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightDirector_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightDirector_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FlightDirector_WPF.Properties.Settings>
            <setting name="ISS3DPath" serializeAs="String">
                <value>C:\Users\owene\source\ISS_3D\Build\ISS_3D.exe</value>
            </setting>
            <setting name="EHDCCamUrl" serializeAs="String">
                <value>fO9e9jnhYK8</value>
            </setting>
        </FlightDirector_WPF.Properties.Settings>
        <Properties.Settings>
            <setting name="ISS3DPath" serializeAs="String">
                <value>"C:\Users\owene\source\ISS_3D\Build\ISS_3D.exe"</value>
            </setting>
        </Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FlightDirector_WPF.Properties.Settings>
            <setting name="ISSCamUrl" serializeAs="String">
                <value>4zXSrtbqYjI</value>
            </setting>
        </FlightDirector_WPF.Properties.Settings>
    </userSettings>
</configuration>